body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divHeader {
  padding: 10px;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: gray;
  border-style: solid;
  border-width:2px; 
  border-left: none; 
  border-right: none;
}

.divDetail {
  height: 45px;
  padding: 10px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border-color: lightgray;
  border-style: solid;
  border-width:1px; 
  border-left: none; 
  border-right: none;
  border-top: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.grid-striped .row:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}